<section class="hero is-large">
  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title has-text-danger">
        <span class="fa-stack fa-2x">
          <i class="far fa-circle fa-stack-2x"></i>
          <i class="fas fa-feather-alt fa-stack-1x"></i>
        </span>
      </p>
    </div>
  </div>
</section>
