<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li>
      <%= link_to "Messaging Services", messaging_services_path %>
    </li>
    <li class="is-active">
      <%= link_to "New", "#" %>
    </li>
  </ul>
</nav>
<h1 class="title">New messaging service</h1>

<%= render "form", messaging_service: @messaging_service %>
